language: node_js
node_js:
  - "6.1"

os:
  - linux
  - osx

install:
  - cd $TRAVIS_BUILD_DIR/server
  - npm install
  - cd $TRAVIS_BUILD_DIR/client
  - npm install

script:
  - cd $TRAVIS_BUILD_DIR/server
  - npm test
  - cd $TRAVIS_BUILD_DIR/client
  - npm test
